table{
    border: 1px solid #000;
    width: 100%;
}
th{
    border: 1px solid #000;
}
tr{
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}
.bold{
    font-weight: bold;
    text-align: center;
}
.result{
    text-align: right;
    padding-right: 5px;
}
body{
    width: 400px;
}