#header {
    height: 50px;
    width: 100%;
    background-color: rgb(18, 16, 16);
    margin: 0px;
}
#nav li{
    display: inline-block;
    
}
#nav li a{
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    
}
#nav{
    background-color: #444;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 20px;
    word-spacing: 80px;
}
body{
    margin: 0px;
    background-color: #ccc;
}
#nav a:hover{
    color: rgb(246, 29, 29);
}