html{
    height: 100%;
}
#header {
    height: 80px;
    width: 100%;
    background-color:#444;
    margin: 0px;
}
#nav li{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    color: #fff;
    line-height: 80px;
    
}
#nav{
    background-color: #444;
    list-style: none;
    text-align: center;
    margin: 0px;
    word-spacing: 80px;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #ccc;
    min-height: 100%;
}
#nav a:hover{
    color: rgb(246, 29, 29);
}
h1{
    font-size: 28px;
}

p{
    font-style: italic;
}
#content{
    margin-left: 20px;
}
.paragraph{
    font-style: normal;
    font-size: 24px;
}
footer{
    background-color: #444;
    position: sticky;
    top: 100%;
}
footer p{
    color: #fff;
    text-align: center;
}